<div class="col-md-6 col-lg-6">
  <h3><%= product.name %></h3>
  <p>£<%= product.price %></p>
  <%= image_tag(product.image_url, class: "img-responsive", id: "folders") %>
  <p><%= product.description %></p>
  <div id="product-options">
    <%= link_to 'Product Details | ', product %>
    <%= link_to 'Edit | ', edit_product_path(product) %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div><!-- /col -->