<section id="show">
  <% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
  <% end %>
  <h3><%= @product.name %></h3>
  <p>£<%= @product.price %></p>
  <%= form_tag "/payments/create" do %>
  <%= render partial: "shared/stripe_checkout_button" %>
  <% end %>
   <% if signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <% end %><br>
  <%= link_to 'Back', Product %>
  <br>
  <div><p></p></div>
  <%= image_tag(@product.image_url, class: "img-responsive", id: "folders") %>
  <p><%= @product.description %></p>
  <br>
  <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
  <h1>___________</h1>
  <br>
  <%= render partial: "comments/new_comment", locals: {user: @product} %>
  <br>
  <h1>___________</h1>
  <%= render partial: "comments/comments", locals: {user: @product} %>
</section>