<p id="notice"><%= notice %></p>

<p>
  <u><strong>Name:</strong></u>
  <%= @product.name %>
</p>

<p>
  <u><strong>Description:</strong></u>
  <%= @product.description %>
</p>

<p>
  <u><strong>Image URL:</strong></u>
  <%= @product.image_URL %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<br>
